.header_wrp {
    position: relative;
    /* background-color: transparent; */
  
    
}
.logo_set{
    display: flex;
    align-items: center;
    height: 100%;
}
.logo_set h6{
    font-size: 20px;
    margin: 0;
    
}
.header_wrp .toolbar{
    padding:  0; 
    background-color: transparent;
    
}
.header_wrp nav{
    /* background-image: linear-gradient(170deg, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background-color: #131322;
    box-shadow: none;
    /* background-color: transparent; */
    padding: 10px 0 ;
    -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}
.list_wrp{}
.list_wrp_ul {padding: 0;display: flex;gap: 20px;justify-content: flex-end;list-style: none;}
.list_wrp_li{padding: 0;}
.list_wrp_li a{text-decoration: none;color: #fff;font-family: Outfit;}

.header_wrp .loginBtn{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
    font-family: Outfit;
}
.header_wrp .loginBtn:hover{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #7B66F8;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #7B66F8;
    color: #fff;
    transition: 0.5s;
    font-family: Outfit;
}
.header_wrp .signupBtn{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #7B66F8;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #7B66F8;
    color: #fff;
    transition: 0.5s;
    font-family: Outfit;
}
.header_wrp .signupBtn:hover{
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
}
.active{color: #7B66F8 !important;}