.home_wrp{padding: 90px 0 ;}
.home_wrp .MuiGrid-root {align-items: center !important;}
/* .home_wrp .MuiGrid-item{align-items: center;}
.home_wrp .MuiGrid-container
{align-items: center;} */
.home_wrp .left_sec h1{
    font-size: 50px;
    line-height: 1.5em;
    font-family: Rubik;
    text-transform: capitalize;
    margin: 10px 0 1.2rem;
    color: #fff;
}
.home_wrp .left_sec h1 span{
   display: block;
}
.home_wrp .left_sec h1 i{
   display: block;
   background-image: linear-gradient(215deg, #779AFE 28%, #C8ACF9 71%);
   background-color: transparent;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   font-family: "Times New Roman";
}
.home_wrp .left_sec p{
   color: #CFD4FFA3;
   font-size: 15px;
   line-height: 1.3em;
   font-weight: 400;
}
.home_wrp .left_sec .ftr_btn{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 3rem;
    /* justify-content: space-between; */
}
.home_wrp .left_sec .ftr_btn a {
    display: inline-block;
    background-color: transparent;
    background-image: linear-gradient(105deg, var(--e-global-color-accent) 29%, var(--e-global-color-df899b4) 78%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 60px 60px 60px 60px;
    padding: 20px 50px 20px 50px;
    color: var(--e-global-color-white);
    font-size: 14px;
}

.home_wrp .left_sec .ftr_btn .active_user{
    display: flex;
    gap: 10px;
    align-items: center;
}
.home_wrp .left_sec .ftr_btn .active_user img{
    opacity: 0.83;
    filter: brightness( 105% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
    width: 194px;
    height: 55px;   
}
.home_wrp .left_sec .ftr_btn .active_user p{
    color: var(--e-global-color-e4e3f7a);
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    text-decoration: var(--e-global-typography-accent-text-decoration);
    line-height: var(--e-global-typography-accent-line-height);
}
.home_wrp .right_img{
    text-align: end;
}
.home_wrp .right_img img{
    max-width: 370px;
    filter: brightness( 88% ) contrast( 111% ) saturate( 53% ) blur( 0px ) hue-rotate( 0deg );
}

/* services section */

.home_wrp_service{
    /* background-color: #fff; */
    /* color: #0B1019; */
    /* background-image: radial-gradient(at bottom center, #7B66F8 0%, #0B1019 100%); */
   
    /* background-image: linear-gradient(23deg, var(--e-global-color-accent) 0%, var(--e-global-color-068477d) 77%, #0C0918 0% ); */
    /* position: absolute; */
    /* top: -89px; */
    /* bottom: 0;
    width: 100%;
    z-index: 5; */
    /* padding: 3rem 0; */
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /* margin-top: 100px;
    margin-bottom: -200px; */
    padding: 40px 40px 40px 40px;
    /* position: absolute; */
    top: 0;
    bottom: -15%;
    width: 100%;
    /* align-items: center;
    display: flex; */
    z-index: 1;
    /* background-image: linear-gradient(23deg, var(--e-global-color-accent) 0%, var(--e-global-color-068477d) 77% ); */

}
.home_wrp_service .fx_cnt{
    background-image: linear-gradient(23deg, var(--e-global-color-accent) 0%, var(--e-global-color-068477d) 77% );
    max-width: 1100px;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
}

.home_wrp_service .our_services{}
.home_wrp_service .our_services{display: flex;justify-content: space-between;margin-top: 40px;}
.home_wrp_service  .our_services_heading_name{text-align: center;}
.home_wrp_service  .our_services_heading_name h5{font-size: 2rem;   color: #fff;}
.home_wrp_service  .our_services_heading_name h5 sup{vertical-align: top;}

.home_wrp_service .our_services{} .service_item{display: flex;align-items: center;gap: 10px;padding: 0 30px;}
.home_wrp_service .our_services{} .service_item img{width: 30px;}
.home_wrp_service .our_services{} .service_item a{
    color: #fff;
    font-size: 13px;
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    /* color: var(--e-global-color-e4e3f7a); */
}



/* 2nd wrap */

.home_wrp_bag1{
    /* background-color: var(--e-global-color-2783b33); */
    background-color: var(--e-global-color-white);
    padding: 150px 30px 130px 30px;
    /* position: relative; */
    backdrop-filter: blur(47px);
    position: relative;
}
/* .home_wrp_bag1 .css-1oqqzyl-MuiContainer-root {
    max-width: 1280px !important;
} */
.home_wrp_bag1 .shadow_img{
    position: absolute;
    width: 291px;
    left: 0;
    z-index: -3;
    opacity: 0.26;
    transform: rotate(68deg);
}
.home_wrp_bag1 .left_text_bag2{
    color: #0B1019;
}
.home_wrp_bag1 .left_text_bag2 h3{
    font-family: Rubik;
    font-size: var(--e-global-typography-fe40df8-font-size);
    font-weight: var(--e-global-typography-fe40df8-font-weight);
    text-transform: var(--e-global-typography-fe40df8-text-transform);
    line-height: var(--e-global-typography-fe40df8-line-height);
    letter-spacing: var(--e-global-typography-fe40df8-letter-spacing);
    word-spacing: var(--e-global-typography-fe40df8-word-spacing);
    color: var(--e-global-color-primary);
}
.home_wrp_bag1 .left_text_bag2 h3 span{
    display: block;
}
.home_wrp_bag1 .left_text_bag2 p{
    color: var(--e-global-color-text);
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    max-width: 450px;
    width: 100%;
    margin: 20px 0;
}

.home_wrp_bag1  .items_sec .svg_itm svg{
    /* display: inline-block; */
    background-color: var(--e-global-color-a34e6d8);
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    color: #0B1019;
    font-size: 50px;
    padding: 17px;
    border-radius: 50%;
}
.home_wrp_bag1  .items_sec p{
    color: var(--e-global-color-text);
    /* font-family: var(--e-global-typography-text-font-family), Sans-serif; */
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}
.home_wrp_bag1  .items_sec .svg_itm2 svg{
    /* display: inline-block; */
    background-color:var(--e-global-color-da974a9);;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    color: #0B1019;
    font-size: 50px;
    padding: 17px;
    border-radius: 50%;
}
/* .home_wrp_bag1 .review_sec{}
.home_wrp_bag1 .review_sec svg{
    color: #f0ad4e;
}
.home_wrp_bag1 .review_sec h3 {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: 3rem;
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    color: var(--e-global-color-e4e3f7a);
}
.home_wrp_bag1 .review_sec h3 sub{
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: 1.3rem;
}
.home_wrp_bag1 .review_sec h3 span{
    background-color: transparent;
    background-image: linear-gradient(215deg, var(--e-global-color-068477d) 28%, var(--e-global-color-5d63bd6) 71%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.home_wrp_bag1 .review_sec p{
    color: var(--e-global-color-21528e6);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.home_wrp_bag1 .service_sec{display: flex;gap: 2rem;} */











/* third Wrapper */

.home_wrp_third{
    color: #fff !important;
    padding: 4rem 0;
}
.home_wrp_third .third_left_bag3{}
.home_wrp_third .third_left_bag3 h2{
    font-size: var(--e-global-typography-24b90fd-font-size);
    font-weight: var(--e-global-typography-24b90fd-font-weight);
    text-transform: var(--e-global-typography-24b90fd-text-transform);
    line-height: var(--e-global-typography-24b90fd-line-height);
    letter-spacing: var(--e-global-typography-24b90fd-letter-spacing);
    word-spacing: var(--e-global-typography-24b90fd-word-spacing);
    color: var(--e-global-color-secondary);
}
.home_wrp_third .third_left_bag3 h2 span{display: block;}
.home_wrp_third .third_left_bag3 p{
    color: var(--e-global-color-21528e6);
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    width: 400px;
    max-width: 100%;
}